.formarea
{
    width: 800px!important;
    margin: auto;
    margin-top: 150px!important;
    border: 1px solid #1a2a47;
    border-radius: 4px;
    padding: 20px;
    background-color: #032055;;
}
.formarea1
{
    max-width: 1000px!important;
    margin: auto;
    margin-top: 150px!important;
    border: 1px solid #1a2a47;
    border-radius: 4px;
    padding: 20px;
    background-color: #032055;;
}
.custom-button
{
    width: auto;
    padding: 0 30px!important;
    border-radius: 25px;
}
.table_border
{
    border: 1px solid white;
}